/* General Footer Styles */
.footer {
  background-color: dimgray;
  padding: 50px 30px;
  color: black;
}

.footer .container {
  max-width: 120px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px; /* Adds equal spacing between columns */
}

.footer-column {
  flex-basis: 30%; /* Adjusted to ensure equal width columns */
  margin-bottom: 20px;
}

.footer-logo {
  width: 150px;
  height: auto;
  margin-bottom: 20px;
}

.footer-description {
  font-size: 25px;
  margin-bottom: 20px;
  color: yellow;
}

/* Email Signup */
.email-signup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email-signup input {
  width: 70%;
  padding: 10px;
  border-radius: 5px 0 0 5px;
  border: 1px solid skyblue;
}

.email-signup .email-btn {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  border-radius: 0;
  border: none;
  cursor: pointer;
}

.email-signup .email-btn:hover {
  background-color: green;
}

/* Footer Links */
.footer-heading {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  color: yellow;
}

.footer-links {
  list-style: none;
  padding: 0;
  font-size: 25px;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
  color: darkorange;
}

/* Contact Information */
.contact-info {
  font-size: 20px;
  color: white;
  margin-bottom: 10px;
}

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 20px;
  border-top: 1px solid whitesmoke;
}

.footer-bottom p {
  margin-bottom: 10px;
  font-size: 20px;
}

.footer-bottom-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-bottom-links li {
  margin: 0 15px;
}

.footer-bottom-links a {
  color: orange;
  text-decoration: none;
  font-size: 16px;
}

.footer-bottom-links a:hover {
  color: blue;
}

/* Email and Copy Icon Section */
.email-copy-section {
  display: inline-flex;
  align-items: center;
}

.email-copy-section .contact-info {
  margin-right: 10px; /* Add some space between email and the copy icon */
}

.copy-icon {
  font-size: 20px;
  color: yellow; /* You can adjust the color */
  cursor: pointer;
  transition: color 0.3s;
}

.copy-icon:hover {
  color: greenyellow; /* Add hover effect */
}

.copied-message {
  color: greenyellow;
  font-size: 14px;
  margin-top: 5px;
}

/* Social Media Icons */
.footer-social-media {
  display: flex;
  justify-content: flex-end; /* Moves them to the right */
  gap: 40px; /* Adds space between icons */
  margin-right: 110px; /* Adds space from the right edge */
  margin-bottom:auto
}
.social-icon {
  font-size: 30px;
  margin-top: 30px;
  color: yellow
}


.footer-social-media .social-icon:hover {
  color: blue; /* Color on hover */
}
